@font-face {
  font-family: 'Cubicfive';
  src: url('../../fonts/cubicfive/cubicfive-regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Cubicfive';
  src: url('../../fonts/cubicfive/cubicfive-italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cubicfive';
  src: url('../../fonts/cubicfive/cubicfive-600.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Pixeloid';
  src: url('../../fonts/pixeloid/pixeloid-regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Pixeloid';
  src: url('../../fonts/pixeloid/pixeloid-bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Origami';
  src: url('../../fonts/origami/origami.ttf');
}


input {
  font-family: "Pixeloid", sans-serif;
}

body {
  font-family: "Pixeloid", sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: var(--color-main-red);
  line-height: 1.6;
  text-shadow: var(--main-shadow);
  text-transform: uppercase;
}

.text-long-blink {
  animation: text-long-blink 1s step-start infinite;
}

@keyframes text-long-blink {
  from,
  to {
    background: #ffffff00;
    box-shadow: none;
  }
  50% {
    background: var(--color-main-red-transparent);
  }
}