@font-face {
  font-family: 'Cubicfive';
  src: url('../../fonts/cubicfive/cubicfive-regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Cubicfive';
  src: url('../../fonts/cubicfive/cubicfive-italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cubicfive';
  src: url('../../fonts/cubicfive/cubicfive-600.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Pixeloid';
  src: url('../../fonts/pixeloid/pixeloid-regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Pixeloid';
  src: url('../../fonts/pixeloid/pixeloid-bold.ttf');
  font-weight: 700;
}


input {
  font-family: "Pixeloid", sans-serif;
}

body {
  font-family: "Pixeloid", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: var(--color-main-red);
  line-height: 1.6;
  text-shadow: var(--main-shadow);
  text-transform: uppercase;
}

.text-blink {
  animation: text-blink 0.04s steps(2) infinite;
}


.text-long-blink {
  animation-name: text-blink, text-long-blink;
  animation-duration: 0.04s, 1s;
  animation-timing-function: steps(5), step-start;
  animation-iteration-count: infinite, infinite;
}

@keyframes text-long-blink {
  from,
  to {
    background: #ffffff00;
    box-shadow: none;
  }
  50% {
    background: var(--color-main-red);
    box-shadow: var(--main-shadow);
  }
}


@keyframes text-blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}