:root {
  --color-background: #000C1D;
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: #bd0820d6;
  --color-text-highlighted-blue: #2974C8;
  --color-text-highlighted-yellow: #f3d96b;
  --color-text-highlighted-green: #1acc6b;
  --color-text-highlighted-purple: #9629c8;
}
