@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap");

:root {
    --color-background: #000C1D;
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: #fff;
    --color-text-highlighted-blue: #2974C8;
    --color-text-highlighted-yellow: #f3d96b;
    --color-text-highlighted-green: #1acc6b;
    --color-text-highlighted-purple: #9629c8;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #001e48;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#app {
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: #000000;
  background: radial-gradient(circle, #160814 0%, rgba(0,0,0,1) 67%);
  line-height: 1.6;
  font-family: "IBM Plex Mono", sans-serif;

  overflow: hidden;
}

input {
  font-family: "IBM Plex Mono", sans-serif;
}

pre {
  animation: text-blink 0.01s steps(2) infinite;
}

@keyframes text-blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}