@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap");

:root {
    --color-background: #000C1D;
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: #fff;
    --color-text-highlighted-blue: #2974C8;
    --color-text-highlighted-yellow: #f3d96b;
    --color-text-highlighted-green: #1acc6b;
    --color-text-highlighted-purple: #9629c8;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #001e48;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#app {
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: #000000;
  background: radial-gradient(circle, #160814 0%, rgba(0,0,0,1) 67%);
  line-height: 1.6;
  font-family: "IBM Plex Mono", sans-serif;

  overflow: hidden;
}


body::after {
  margin-left: 300px;
  position: absolute;
  --top: 5;    
  --left: -0.03;     
  --v-height: 30%; 
  
  --n-tenth: calc(15 * .1 * var(--top));
  --t-cut: calc(var(--n-tenth) / 15  * 100%);
  --b-cut: calc(var(--t-cut) + var(--v-height));

  content: 'inherit';
      
  transform: translateX(calc(var(--left) * 100%));
    
  filter: drop-shadow(0 0 transparent); 
  
  text-shadow: calc(var(--left) * -3em) 0 .02em lime, 
               calc(var(--left) * -6em) 0 .02em #ff00e1;
  
  clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut));
}

input {
  font-family: "IBM Plex Mono", sans-serif;
}
